<div id="documents">
  <table class="table table-sm table-borderless mb-0 align-middle">
    <% @documents.each do |document| %>
      <%= tag.tr do %>
        <td>
          <%= link_to document.title, url_for(document.file), target: "_blank", rel: "noopener" %>
        </td>
      <% end %>
    <% end %>
  </table>
</div>
